body {
		background-color:#7FFFD4;
		color: #FF7F50;
		padding: 25px 50px;
		font-family: Calibri; 
		font-size: 30px;
		text-align: center;	
	}

	h1{
		font-size: 25px
		font-weight: bold;
	}

	h2{
		font-size: 25px
	}

a:link {
    font-size: 20px;
    color: #0000FF;
    text-decoration: none;
}
a:visited {
    color: #FF00FF;
    text-decoration: none;
}
a:hover {
    color: #330066;
    text-decoration: underline;
}

div { background-color: #D8D8D8;
	font-family: Calibri;
	font-weight: bold;
	color: red
	border-width: 5px;
	border-radius: 5px
	margin: auto;
	text-align: center;
	align: center;
	height: 75px;
	width: 125px;
	border-style: solid;
}