body {
		background-color: #87E293;
		color: #FF7F50;
		background-image: url ("http://daema.files.wordpress.com/2008/08/sailingsunset.jpg");

	a {
		color:blue;
		text-decoration: none;
	}
	a: hover {
			color: purple;
	}
