body {
		background-color:#7FFFD4;
		color: #FF7F50;
		padding: 25px 50px;
		font-family: Calibri; 
		font-size: 30px;
	}

	h1{
		font-size: 20px
		font-weight: bold;

	}

	h2{
		font-size: 15px
		font-weight: bold;
	}

a:link {
    color: #0000FF;
    text-decoration: none;
}
a:visited {
    color: #FF00FF;
    text-decoration: none;
}
a:hover {
    color: #330066;
    text-decoration: underline;
}